$color-primary: #788bff;
$color-primary-dark: #5465ff;
$color-primary-light: #9bb1ff;
$color-background: #e2fdff;
$color-text-gray: #333;
$color-text-green: #2b8a3e;
$color-text-red: #e03131;
$color-black: #000;
$color-white: #fff;
